Omschrijving van de repository (project);
dit is een projectje voor informatica
Oplijsting van aanwezige bestanden en folders;
geen het is een test
Configuratie en installatie instructies;
geen
Documentatie;
Smil
Gekende bugs;
geen
Aanvragen voor toekomstige nieuwe features;
geen
Auteurs;
Hebah
Copyright en licentie.
feel free to odjust this file